.header{
    display: grid;
    grid-template-areas: "logo nav";
    background: gray;
    height: 40px;
}
.nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-items: center;
}
.burguer{
    display: none;
}
@media(max-width:700px){
    .header{
        grid-template-areas: "logo burger"
    }
    .nav{
        grid-template-rows: repeat(4,auto);
        grid-template-columns: none;
        grid-row-gap: 20px;
    }
    .burguer{
        display: block;
    }
}